:root {
  --theme-color: #191765;
  --primary-color: #fff;
  --secondary-color: #9490ff;
  --third-color: #c8c8d4;
  --fourth-color: #f5f5ff;
  --fifth-color: #c4c4c4;
  --sixth-color: #dcdce8;
  --seventh-color: #5e42d7;
  --nineth-color: #949086;
  --tenth-color: #7d73fc;
  --neutral-color: #f7f3ff;
  --disabled-color: #2a2b33;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--theme-color);
  max-width: 375px;
  margin: auto;
  color: var(--neutral-color);
  background-image: url(images/circle1.svg), url(images/circle2.svg), url(images/circle3.svg), url(images/circle4.svg), url(images/circle5.svg), url(images/circle6.svg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 275px 275px, 194px 194px, 380px 940px, 220px 1100px, 600px 280px, 220px 1000px;
  background-position: top 40px left -47px, right -40px top 512px, left -40px top 1270px, right -70px top 1820px, left -200px top 3080px, right -10px top 3490px;
}

a {
  text-decoration: none;
  color: var(--neutral-color);
}

.top-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
  max-width: max-content;
  font-size: 18px;
  font-weight: bold;
  padding: 0 24px;
  color: var(--primary-color);
}

.open-menu {
  width: 50px;
  height: 50px;
  padding: 0 24px;
}

.top-headline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 375px;
  margin: auto;
  flex-wrap: wrap;
}

.my-name {
  padding: 12px;
  margin: 2;
}

.main-name {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: var(--tenth-color);
}

.pro-name {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  color: #edecff;
}

.top-headline-despt {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: var(--third-color);
  padding: 0 24px;
}

.my-languages,
.my-frameworks,
.my-skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
}

.organize .listitle {
  font-size: 12px;
  font-weight: bold;
  color: var(--secondary-color);
}

.organize {
  display: flex;
  flex-wrap: wrap;
}

.my-socialmedia {
  display: flex;
  justify-content: center;
  margin: 58px auto;
}

.icon {
  padding: 10px;
}

.my-work-arrow {
  background: none;
  border: none;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.arrow-word {
  font-size: 20px;
  font-weight: 500;
}

.devider {
  display: flex;
  justify-content: center;
  margin: auto;
}

.my-work {
  margin: auto;
  display: grid;
  justify-content: center;
  row-gap: 30px;
}

.works-head {
  font-size: 40px;
  font-weight: 400px;
  width: 250px;
  line-height: 52px;
  overflow-wrap: break-word;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: auto;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 327px;
  gap: 24px;
}

.my-work-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
}

.my-work-description,
.my-work-tools {
  font-family: 'Inter', sans-serif;
}

.my-work-description {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: var(--sixth-color);
}

.my-work-tools li {
  border-left: 1px gray solid;
  padding-left: 15px;
  margin: 10px;
}

.organize ul li {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 36px;
  font-weight: 400;
  list-style-type: none;
  color: var(--fourth-color);
  width: 100px;
}

.my-work-tools .li-css {
  border: none;
}

.my-work-tools {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.cards ul {
  margin: auto;
  font-size: 15px;
  color: #fff;
}

.visualize-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 44px;
  background-color: var(--tenth-color);
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 600;
  border: none;
  margin-bottom: 18px;
  cursor: pointer;
}

.visualize-button:enabled {
  background-color: var(--tenth-color);
}

.visualize-button:hover {
  background-color: var(--tenth-color);
}

.visualize-button:active {
  background-color: var(--seventh-color);
}
